html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom,   #d65e12 0%,  #ffffff 33%, #ffffff 66%, #e81219 100%);
}


.jumbotron {
    background-image: url("img/coffee-bean.jpeg");
    display: flex;
    justify-content: center;
    width: 90%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #FF033E;
    -webkit-text-stroke: 2px black; /* width and color */
    z-index: 4;
    font-family: 'Noto Sans JP', sans-serif;
}

#coffees {
    color: #114775;
    margin-left: 40%;
}