h1 {
    color: blue;
    font-size: 75px;
    text-decoration: underline;
}

body{
    background: darkgrey;
background-image: url("../assets/background image.jpeg") ;
    font-style: oblique;
}

h2 {
    color: #1765a5;
    text-align: center;
    font-family: "American Typewriter";
    font-size: 45px;
    text-decoration: underline;

}

ul{
    list-style: circle;
}

ol{
    list-style: upper-latin;
}
.fancy{
    color: darkolivegreen;
    border: dotted;
    background-color: darkgrey;

}

th{
    padding: 25px;
    color: #DDDDDD;
    font-size: 25px;
}
td{
    padding-top: 2px;
    font-size: 35px;
    color: #DDDDDD;
}

footer{
    color: #DDDDDD;
}
a:link{
    color: #FFFFFF;
}